canvas {
  border: 1px
  solid black
}
#container {
  display: flex;
}
#box-left {
  background: red;
  flex: 1;
}
#box-center {
  background: orange;
  flex: 3;
  text-align: center;
}
#box-right {
  background: yellow;
  flex: 1;
}
